body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #f6f6fa;

}
header h1 {
    font-weight: bold;
}

.nav-link {
    font-weight: 500;
    color: #000;
}



footer a:hover {
    color: #ccc;
}
body {
    background-color: #f6f6fa;
  }
  .card-title {
    background-color: #1e1e1e;
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 0.5rem;
  }
  .socials {
    background-color: #020202;
    color: white;
    padding: 10rem;
    text-align: center;
    vertical-align: bottom;
  }
  .carousel-inner .carousel-item > div {
    display: none;
  }
  .carousel-inner .carousel-item.active > div {
    display: block;
  }
  .cell-card {
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, 0.075);
    margin: 10px;
    text-align: center;
  }
  .cell-img {
    height: 200px;
    object-fit: cover;
    width: 100%;
  }
  #shadow {
    box-shadow:0px 0px 10px black;
    z-index: 1000;
    position: relative;
}
